@charset 'utf-8';

body {
  font-family: 'Noto Sans', 'Noto Sans JP';
  color: #333333;
}

ul {
  list-style: none;

  li {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: #333333;
}

.body-wrapper {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.read-more {
  margin: 0 auto;
  text-align: center;

  a {
    position: relative;
    padding-bottom: 1px;
    font-size: 14px;
  }

  a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #333333;
    transition: all 200ms ease;
  }

  a:hover::after {
    opacity: 0;
    transform: translateY(3px);
  }

  // @media screen (max-width: 767px) {
  //   margin-bottom: 30px;
  // }

} 

.header {
  width: 100%;
  height: 106px;
  background-color: white;
  position: fixed;

  .site-title {
    padding: 20px 16px;

    @media screen and (max-width: 767px) {
      padding: 20px;
    }

    h1 {
      line-height: 1px;

      a {
        display: inline-block;
        line-height: 30px;

        img {
          width: 145px;
          height: 30px;
        }
      }
    }
  }
  
  .background {
    width: 100%;
    background-color: black;
    
    .global-nav {
      
      
      ul {
        display: flex;
        padding: 10px 0;
        
        li {
          margin-right: 60px;
          
          a {
            display: block;
            font-size: 14px;
            line-height: 14px;
            color: white;         
          }   
        }
      }

      @media screen and (max-width: 767px) {
        ul {
          justify-content: space-between;

          li:nth-child(4) {
            margin-right: 0;
          }
          
          li:nth-child(5) {
            display: none;
          }
        }
      }
    }
  }
}

main {
  padding-top: 150px;

  .pick-up-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    
    div {
      width: 32%;
      
      img {
        width: 100%;
        margin-bottom: 10px;
      }
      
      p {
        font-weight: bold;
        margin-bottom: 15px;
        padding: 0;
      }      
    }

    @media screen and (max-width: 767px) {
      display: block;
      margin-bottom: 100px;

      div {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  .wrapper-2colum {
    display: flex;

    @media screen and (max-width: 767px) {
      display: block;
    }
    
    .main {
      width: 65%;
      padding-right: 2%;
      
      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0;
        margin-bottom: 80px;
      }
      
      .article {
        margin-bottom: 80px;
        
        @media screen and (max-width: 767px) {
          margin-bottom: 90px;
        }
        
        h2 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 16px;
        }
        
        ul {
          display: flex;
          margin-bottom: 10px;
          
          time {
            margin-right: 20px;
          }
        }
        
        img {
          width: 100%;
          margin-bottom: 10px;
        }
        
        .article-text {
          margin: 0 4% 30px;
        }
      }
    }
    
    .side {
      width: 35%;
      padding-right: 2%;
      margin-bottom: 140px;
      
      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0;
        margin-bottom: 120px;
      }

      .author {
        width: 100%;
        margin-bottom: 60px;

        .author-image {
          text-align: center;
          
          img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            margin-bottom: 30px;
          }
          
          .author-name {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 30px;
          }
        }

        .text {
          font-size: 14px;
        }
      }

      .ranking {
        width: 100%;
        margin-bottom: 60px;

        .title {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 30px;
          text-align: center;
        }

        .article {
          width: 100%;
          margin-bottom: 30px;

          img {
            width: 100%;
          }

          .article-text {
            font-size: 14px;
          }
        }
      }

      .archive {
        width: 100%;

        .title {
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          margin-bottom: 30px;
        }

        .archive-list {
          border-bottom: 1px solid #333333;
          padding: 20px;
        }

        .archive-list:first-child {
          border-top: 1px solid #333333;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 500px;
  background-color: #F7F7F7;

  @media screen and(max-width: 767px) {
    height: auto;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 60px;
    
    @media screen and(max-width: 767px) {
      display: block;
      margin-bottom: 90px;
    }
    
    .about {
      width: 30%;
      
      @media screen and(max-width: 767px) {
        width: 100%;
        margin-bottom: 50px;
      }
      
      .title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      
      .about-text {
        font-size: 14px;
        margin-bottom: 20px;
      }
      
      .about-list {
        
        li {
          position: relative;
          padding: 0 0 0 1em;
          margin-bottom: 5px;
        }
        
        li::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border: 0.3em solid transparent;
          border-left: 0.4em solid #333;
        }
      }
    }
    
    .menu {
      width: 30%;
      
      @media screen and(max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;
      }
      
      .title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      
      ul {
        
        li {
          font-size: 14px;
          border-bottom: 1px solid #333;
          padding: 15px;
        }
        
        li:first-child {
          border-top: 1px solid #333;
        }

      }
    }
    
    .twitter {
      width: 30%;
      
      @media screen and(max-width: 767px) {
        width: 100%;
      }

      .title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 30px;
      }
    }
  }

  .copyright {
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
  }
}